@charset "utf-8";

body {
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
    font-family: 'Noto Sans', sans-serif;
    color: #464646;
    font-size: 62.5%;
    line-height: 1.5;
    background-color: #0E0E0E;
}
a {
    color: #464646;
    text-decoration: none;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    bottom: 60px;

    background-image: url(../img/back.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#top {
    width: 100%;
}
#top p {
    text-align: center;
    margin-top: -150px;
    font-size: 1rem;
    color: #FFF;
}
h1 {
    z-index: 100;
}
h1 img {
    display: block;
    width: 80%;
    padding-top: 100px;
    margin: auto;
}
h1:after {
    content: "";
    display: block;
    width: 86px;
    height: 47px;
    margin: 0 auto;
    margin-top: 140px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
}
h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
p {
    font-size: 1.3rem;
}

nav {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #2F2F2F;
    z-index: 1000;
    text-align: center;
}
nav .btn{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0px;
    background-image: url(../img/nav.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
nav ul {
    display: none;
    width: 100%;
}
nav ul li {
    line-height: 70px;
}
nav ul li a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2rem;
    color: #fff;
}

#contents {
    background: rgba(255,255,255, 0.8);
    margin-top: 400px;
}

#contents section {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
#contents h2 {
    margin-bottom: 40px;
}
#contents h2:after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
}
#about h2:after {
     background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(149,187,178,1) 50%, rgba(255,255,255,0) 100%);
}
#timeTable h2:after {
     background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(98,141,194,1) 50%, rgba(255,255,255,0) 100%);
}
#bands h2:after {
     background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(176,149,187,1) 50%, rgba(255,255,255,0) 100%);
}
#access h2:after {
     background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(200,166,125,1) 50%, rgba(255,255,255,0) 100%);
}

#contents p {
    width: 80%;
    margin: 0 10%;
}
#about, #access {
    text-align:center;
}

#timeTable {
    font-size: 1rem;
}
#bands dl {
    width: 100%;
    margin: 0 auto;
}
#timeTable dl dt {
    float: left;
    width: 50%;
    margin-left: 10%;
}
#timeTable dl dd {
    float: left;
    width: 30%;
    padding-left: 10%;
    color: rgba(98,141,194,1);
    font-weight: bold;
}
#timeTable ol {
    position: relative;
    counter-reset:number;
    list-style:none;
    margin: 0 auto;
}
#timeTable ol li {
    width: 100%;
    padding: 10px 0px;
    background: linear-gradient(to right,  rgba(256,256,256,0.2) 0%, rgba(256,256,256,0.6) 50%, rgba(256,256,256,0.2) 100%);
    border-bottom: 2px solid rgba(30,30,30,0.4);
    clear: both;
}
ol li.band:before{
    position: absolute;
    counter-increment: number;
    content: counter(number);
    font-weight: bold;
    left: 5%;
}
#timeTable ol li:first-of-type {
    border-top: 2px solid rgba(30,30,30,0.4);
}
#timeTable ol li:after {
    content: '';
    display: block;
    clear: both;
}

#bands {
    font-size: 1rem;
}
#bands dl:first-of-type {
    border-top: 2px solid rgba(30,30,30,0.4);
}
#bands dl {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 3;
}
#bands dt {
    color: #fff;
    background: linear-gradient(to right,  rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.6) 50%, rgba(30,30,30,0.4) 100%);
    border-bottom: 2px solid rgba(30,30,30,0.4);
    cursor: pointer;
}
#bands dt:hover {
    background: linear-gradient(to right,  rgba(60,60,60,0.4) 0%, rgba(60,60,60,0.6) 50%, rgba(60,60,60,0.4) 100%);
}
#bands dt.member {
    display: none;
    background: linear-gradient(to right,  rgba(60,60,60,0.2) 0%, rgba(60,60,60,0.4) 50%, rgba(60,60,60,0.2) 100%);
}
#bands dt.comment {
    display: none;
    background: linear-gradient(to right,  rgba(60,60,60,0.2) 0%, rgba(60,60,60,0.4) 50%, rgba(60,60,60,0.2) 100%);
}
#bands dd {
    position: relative;
    display: none;
    background-color: rgba(98,141,194,0.5);
    background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.5) 100%);
    border-bottom: 2px solid rgba(30,30,30,0.2);
    line-height: 3;
}


#access #map_canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
#access a.btn{
    display: block;
    width: 60%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2F2F2F;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
#access a.btn:hover {
    background-color: #3F3F3F;
}

#contents section#contact {
    padding-bottom: 300px;
}
#contact .btn:before {
    float: left;
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../img/TwitterLogo_white.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#contact .btn{
    display: block;
    margin-top: 20px;
    width: 60%;
    height: 70px;
    line-height: 75px;
    font-size: 1.4rem;
    margin: 0 auto;
    background-color: #2F2F2F;
    text-align: center;
}
#contact .btn a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
#contact .btn a:hover {
    background-color: #3F3F3F;
}
